# Python
*/__pycache__/
*.pyc

# IDE
.idea/

# Logs and Temporary Files
*tmp.py
connection_with_seed.txt
disconnection.txt
tmp.txt
tmp_mobile.txt
trigger_action_mobile.txt
trigger_mobile_log.txt
trigger_mobile_log_succeed.txt
trigger_mobile_log_succeed_tmp.txt
trigger_tdsr_log.txt
trigger_tdsr_log_succeed.txt

# Specific Scripts and Models
/problem_environments/mobile_env_effective_far.py
/problem_environments/mobile_env_effective_near.py
/problem_environments/mobile_env_effective_normal.py
/test_scripts/test_mcts_pkl.py
test_scripts/trojan_models_torch/mobile_env/effective_state
test_results/
